# Supabase
SUPABASE_URL=https://rddnhkxcopwstpflzplj.supabase.co
SUPABASE_KEY=your_supabase_anon_key_here
DATABASE_URL=postgresql://postgres:[PASSWORD]@db.rddnhkxcopwstpflzplj.supabase.co:5432/postgres

# OpenAI
OPENAI_API_KEY=your_openai_api_key_here

# Resend (e-posta)
RESEND_API_KEY=your_resend_api_key_here

# Uygulama
APP_ENV=development
LOG_LEVEL=INFO
SCRAPER_TARGET_URL=https://istanbulticaretgazetesi.com/son-dakika
SCRAPER_SOURCE_ID=1

# BERT servisi (arkadaş tamamlayınca doldurulacak)
BERT_SERVICE_URL=http://bert-service:8001

# HuggingFace (embedding modeli icin)
HF_TOKEN=your_huggingface_token_here

# OpenRouter (LLM icin)
OPENROUTER_API_KEY=your_openrouter_api_key_here
